body{
	background-color: green;
}
h1{
	font-size: 35px;
}

form,input{
	background-color: red;
}
#cookieList {
	background-color: yellow;	
}
#cacheList li{
	color: #207cc3;
	background-color: white;	
}

